./multinli_0.9/multinli_0.9_train.txt
./multinli_0.9/multinli_0.9_train.jsonl
./model/bert/snli/bert-nli.pt
./model/bert/snli/snli_1.0_train.csv
./model/bert/multi_nli/train_data_mnli.csv
./model/bert/multi_nli/bert-nli.pt
./model/bilstm/snli/BiLSTM.h5
./model/bilstm/multi_nli/LSTM_MNLI.h5
./model/bigru/multi_nli/GRU_MNLI.h5
./glove.6B/glove.6B.300d.txt
./snli_1.0/snli_1.0_train.txt
